<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>ATM Client Application</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
  <div class="container">
    <h1 th:text="'Привет, ' + ${session.client.name} + '!'"></h1>
    <h2>Ваши счета:</h2>
    <ul>
      <li th:each="account : ${session.client.accounts}">
        <p th:text="'Номер счета: ' + ${account.number} + ' Баланс: ' + ${account.balance.value} + ' ' + ${account.balance.currency}">
          <ul>
            <li th:each="card : ${account.cards}">
              <p th:text="'Привязана карта ' + ${card.number}"></p>
            </li>
          </ul>
        </p>
      </li>
    </ul>
  </div>

  <p>
    <a href="/logout">Выход</a>
  </p>

  <div class="tips">
    Это демонстрационный проект, не вводите реальные данные!
  </div>

</body>
</html>