<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ATM Client Application</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>

<body>
    <div class="container">
        <h1>Запроси свой баланс!</h1>
        <form action="/" method="post">
            <label for="number">Номер карты</label><br>
            <input id="number" name="number" type="text" maxlength="16" size="16" th:value="${card} ? ${card.number}"/>
            <span class="example">Пример: 1234567800001234</span><br>
            <label for="expire">Дата окончания</label><br>
            <input id="expire" name="expire" type="date" th:value="${card} ? ${card.expire}"/>
            <span class="example">Пример: 01.12.2022</span><br>
            <label for="cvc2">CVC2</label><br>
            <input id="cvc2" name="cvc2" type="text" maxlength="3" size="3" th:value="${card} ? ${card.cvc2}"/>
            <span class="example">Пример: 123</span><br>
            <input type="submit">
        </form>
        <div class="errors" th:if="${errors}">
            <p th:each="error : ${errors}" th:text="${error}"></p>
        </div>
    </div>

    <div class="tips">
        Это демонстрационный проект, не вводите реальные данные!
    </div>
</body>
</html>